.projects{
    .container{
        p{padding: 0;}
        color: #4F5955;
        .date{
            color: #9C9EA6;
            font-size: 14px;
            i{
                padding-right: 7px;
            }
        }
        .project-left{
            padding: 0px 50px;
            .breadcrumb{
                padding-top: 30px;
                padding-bottom: 15px;
            }
            .suggestion{
                margin-top: 30px;
            }
            .picture-1{
                display: flex;
                gap: 30px;
                align-items: center;
                padding-bottom: 30px;
                h5{
                    margin: 0;
                }
            }

            .tags-bottom {
                display: flex;
                align-items: center;
                gap: 10px;
              
                h6 {
                  font-size: 14px;
                  font-weight: 600;
                  color: #4F5955;
                  margin: 0;
                }
              
                .tag {
                  display: inline-block;
                  padding: 5px 15px;
                  border-radius: 20px;
                  background-color: #F2EDDC;
                  font-size: 13px;
                  color: #4F5955;
                  font-weight: 400;
                  white-space: nowrap; 
                }
              }
        }
        .project-right{

            .recent-projects {
                margin-top: 20px;
                display: none;

                @include desktop{
                    display: block;
                }
                .projects-small {
                  display: flex;
                  align-items: center;
                  margin-bottom: 20px;
                  padding-bottom: 15px;
                  border-bottom: 1px solid #ECECEC;

                  &#last{
                    border: none;
                  }
                  
                  img {
                    width: 130px;
                    height: 83px;
                    object-fit: cover;
                    margin-right: 15px;
                  }
              
                  .content {
                    a {
                      text-decoration: none;
                      
                      h6 {
                        font-size: 1em;
                        font-weight: bold;
                        color: #333;
                        margin: 0 0 5px 0;
                        line-height: 1.4;
                      }
              
                      &:hover h6 {
                        color: #D9C3A9;
                      }
                    }
                  }
                }
              } 
        }
    }
}